.widthCard1 {
  width: 20rem;
}

.widthCard2 {
  width: 19rem;
}

.paddingOnYaxis {
  padding-top: 22px;
  padding-bottom: 22px;
}

.paddingOnYaxisTextArea {
  padding-top: 10px;
  padding-bottom: 38px;
}

.btn {
  background: white;
  border: 2px solid #0c0a09;
  color: #0c0a09;
}

.btn:hover {
  background-color: #0c0a09;
  box-shadow: 0px 0px 10px black;
  color: white;
}

.imgSetting {
  height: 27rem;
  width: 20rem;
}
